html, body{
    height: 100%;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    background-color: rgb(219, 219, 219);
}
i {
    font-size: 21px;
}
a {
    white-space: nowrap;
}
thead {
    background-color: #204060;
    color: #e6e6e6;
}
.bt-add {
    white-space: nowrap;
    background-color: #00cc99;
    color: white;
}
.bt-import {
    color: black;
    border: 1px solid black;
}
.bt-import:hover {
    background-color: #cccccc;
}
.bt-add:hover {
    background-color: #00b386;
    color: white;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.center-1 {
    display: block;
    margin: auto;
    width: 450px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2)
}
.center-2 {
    display: block;
    margin: auto;
}
.right {
    text-align: right;
    float: right;
}
.left {
    text-align: left;
    float: left;
}
.error {
    text-align: center;
    color: red;
    background-color: #ffe6e6;
}
.input-add-u{
    width: 500px;
}
td {
  vertical-align: middle;
}
.text-b-t-cen {
    margin-top: auto;
    margin-bottom: auto;
}
.text-navbar-neon {
    margin-left: 40px;
    margin-bottom: auto;
    color: #99ff99;
    background-color: #031321;
    text-shadow: 0px 0px 10px #8cf8f1, 0 0 20px #8cf8f1, 0 0 80px #8cf8f1;
}

.full-height {
    border-left-style: solid;
    border-left-color: rgb(219, 219, 219);
    overflow: auto;
    height: 881px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    margin-left: 16%;
    margin-top: 80px;
    padding: 50px;
}

.full-height-nav {
    background-color: white;
    width: 16%;
    margin-top: 80px;
    list-style-type: none;
    position: fixed;
    height: 100%;
    padding: 25px 30px 0 30px;
}

.no-underline {
    color: #3873ad;
    text-decoration: none;
}